[submodule "vendor/llama.cpp"]
	path = vendor/llama.cpp
	url = https://github.com/ocminer/llama.cpp
[submodule "vendor/tensorcash"]
	path = vendor/tensorcash
	url = https://git.tensorcash.org/tensorcash/tensorcash
